footer {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  background-color: #090909;
  opacity: .9;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  @media (max-width: $bp-mobile) {
    font-size: .8rem;
    // display: block;
  }
  a, i {
    color: $text-color;
  }

  .player {
    display: flex;
    flex-wrap: wrap;
  }

  .track-info {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: $spacing;
    @media (max-width: $bp-tiny) {
      margin-top: $spacing;
    }
  }
  .controls {
    & > div {
      display: inline-block;
    }
  }

  .copyright {
    width: 200px;
    font-size: .8rem;
    @media (max-width: $bp-mobile) {
      width: 100%;
      text-align: center;
      padding: $spacing;
    }
  }
}