.song {
  a {
    color: $text-color;
  }
  p {
    padding-bottom: $spacing;
  }
  .controls {
    margin-top: $spacing;
    @media (max-width: $bp-mobile) {
      margin-top: 0;
    }
    i {
      font-size: 0.6rem;
      margin-right: $spacing / 4;
      @media (max-width: $bp-mobile) {
        font-size: 0.5rem;
      }
    }
  }
}