---
---
$background-color: #000000;
$text-color: #b8b6d3;
$link-color: #e9e9e9;
$font-family: Neucha, monospace, sans-serif;
$font-size: 18px;
$spacing: $font-size * 1;
$cover-size: 160px;
$cover-size-medium: 130px;
$cover-size-small: 90px;
$bp-mobile: 960px;
$bp-tiny: 320px;

@import "https://fonts.googleapis.com/css2?family=Neucha&display=swap";
@import "generic";
@import "header";
@import "album";
@import "player";
@import "song";

.play, .pause {
  cursor: pointer;
}

.album-cover {
  width: $cover-size;
  height: $cover-size;
  margin-right:$spacing;
  background-repeat: no-repeat;
  background-image: url('{{ page.cover_url | absolute_url }}');
  background-size: $cover-size $cover-size;
  @media (max-width: $bp-mobile) {
    width: $cover-size-small;
    height: $cover-size-small;
    background-size: $cover-size-small $cover-size-small;
  }
}