<!DOCTYPE html>
<html lang="en-AU">
  {% assign timestamp = site.time | date: '%s' %}
  {% capture site_name %}Music by {{ page.artist }}{% endcapture %}
  {% capture cover_url %}{{ '/assets/img/folder.jpg' | absolute_url }}{% endcapture %}
  {% capture title %}
    {% if page.layout == 'song' %}
      {{ site_name }} | {{ page.title }} ({{ page.date | date: '%Y' }})
    {% elsif page.layout == 'album' %}  
      {{ site_name }} | {{ page.name | split: '.' | first }}
    {% else %}
      {{ site_name }}
    {% endif %}
  {% endcapture %}
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ page.artist }}" />
    <meta name="copyright" content="{{ page.artist }}" />
    <meta name="og:title" content="{{ title }}" />
    <meta name="og:site_name" content="{{ site_name }}" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:site" content="{{ site_name }}" />
    {% if page.layout == 'song' %} 
    <meta name="og:type" content="music.song" />
    <meta name="og:image" content="{{ cover_url }}" />
    <meta name="og:url" content="{{ page.url | absolute_url }}" />
    <meta name="music:album:track" content="{{ page.date | date: '%-d' }}" />
    <meta name="music:release_date" content="{{ page.date | date: '%-d' }}" />
    <meta property="twitter:image" content="{{ cover_url }}" />
    <meta property="twitter:audio:artist_name" content="{{ page.artist }}" />
    {% endif %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/music.css' | absolute_url }}?v={{ timestamp }}" />
  </head>

  <body>
    <main>
      <article class="{{ page.layout | default: 'page' }}">
        {{ content }}
      </article>
    </main>
    <footer>
      <div class="player">
        <div class="album-cover" title="Album Cover"></div>
        <div class="table">
          <div>
            <a class="play" title="Play"><i class="fas fa-play"></i></a>
            <a class="pause" title="Pause"><i class="fas fa-pause"></i></a>
          </div>
        </div>
      </div>
      <div class="track-info">
        <div class="table">
          <div>
            <span class="track-title"></span>
            <span class="album-title"></span>
            <div class="progress"></div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="table">
          <div>
            The music on this site is licensed under a <a href="{{ page.license.url }}" title="{{ page.license.name }}">{{ page.license.name }}</a> license. 
            Copyright &copy; 2017 - {{ site.time | date: '%Y' }} <a href="{{ site.url | absolute_url }}">{{ page.artist }}</a>.
          </div>
        </div>
      </div>
    </footer>
    <audio />
    <script src="https://kit.fontawesome.com/ceeaf2ba40.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/player.js' | absolute_url }}?v={{ timestamp }}"></script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Henrik Becker",
      "nationality": "Swedish",
      "birthDate": "1969-06-23",
      "url": "https://www.henrikbecker.net",
      "sameAs": [ 
        "https://github.com/handiman",
        "https://www.linkedin.com/prettygoodprogrammer"
      ]
    }
    </script>
  </body>
</html>
