---
layout: default
---
{% assign year = page.date | date:  '%Y' %}
{% assign album = year %}
<header>
  <div>
    <img src="{{ '/assets/img/folder.jpg ' | absolute_url }}" title="Album Cover" />
  </div>
  <div>
    <h1>{{ page.title }}</h1>
    <div>{{ album }} {{ page.artist }}</div>
    <div class="player">
      <a href="javascript:void(0)" class="play" title="Play" data-stream-url="https://henrikbecker.azurewebsites.net/music/api/stream/{{ page.date | date: '%d' }}-{{ page.slug }}"><i class="fas fa-play"></i></a>
      <a href="javascript:void(0)" class="pause" title="Pause"><i class="fas fa-pause"></i></a>
    </div>
  </div>
</header>

{{ content }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicComposition",
  "name": {{ page.title | jsonify }},
  "composer": {
    "@type": "Person",
    "name": {{ page.artist | jsonify }}
  },
  "lyrics": {
    "@type": "CreativeWork",
    "text": {{ content | strip_html | jsonify }}
  },
  "lyricist": {
    "@type": "Person",
    "name": {{ page.artist | jsonify }}
  },
  "url": {{ page.url | absolute_url | json }},
  "image": {{ page.image | default: "/assets/img/folder.jpg" | absolute_url  | jsonify }},
  "inLanguage": "EN",
  "datePublished": {{ year | jsonify }},
  "author": {{ page.artist | jsonify }},
  "license": {{ page.license.url | jsonify }},
  "copyrightNotice": "Copyright {{ page.artist }}",
  "copyrightYear": {{ year | jsonify }},
  "encodingFormat": "audio/mpeg",
  "genre": {{ page.genre | default: 'Noise' | jsonify }}
}
</script>

{% include player.html %}