---
layout: default
---
{% assign year = page.date | date:  '%Y' %}
{% assign album = year %}
{% capture streamUrl %}{{ page.library_url }}/{{ album }}/{{ page.date | date: '%d' }}-{{ page.slug }}.mp3{% endcapture %}
<header>
  <div class="album-cover" title="Album Cover"></div>
  <div>
    <h1>{{ page.title }}</h1>
    <div><a href="../">{{ album }}</a> <a href="{{ '/' | relative_url }}">{{ page.artist }}</a></div>
    <div class="controls">
      <a href="javascript:void(0)" class="play" title="Play" data-album="{{ album }}" data-title="{{ page.title }}" data-stream-url="{{ streamUrl }}"><i class="fas fa-play"></i></a>
      <a href="javascript:void(0)" class="pause" title="Pause"><i class="fas fa-pause"></i></a>
    </div>
  </div>
</header>

{{ content }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicComposition",
  "name": {{ page.title | jsonify }},
  "composer": {
    "@type": "Person",
    "name": {{ page.artist | jsonify }}
  },
  "lyrics": {
    "@type": "CreativeWork",
    "text": {{ content | strip_html | jsonify }}
  },
  "lyricist": {
    "@type": "Person",
    "name": {{ page.artist | jsonify }}
  },
  "url": {{ page.url | absolute_url | json }},
  "image": {{ page.image | default: "/assets/img/folder.jpg" | absolute_url  | jsonify }},
  "inLanguage": "EN",
  "datePublished": {{ year | jsonify }},
  "author": {{ page.artist | jsonify }},
  "license": {{ page.license.url | jsonify }},
  "copyrightNotice": "Copyright {{ page.artist }}",
  "copyrightYear": {{ year | jsonify }},
  "encodingFormat": "audio/mpeg",
  "genre": {{ page.genre | default: 'Noise' | jsonify }}
}
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.dispatchEvent(new CustomEvent('trackselected', {
      detail: {
        title: {{ page.title | jsonify }},
        album: {{ album | jsonify}},
        streamUrl: {{ streamUrl | jsonify }},
        start: false
      }
    }));
  });
</script>